version: '3.9'

services:
  middleware:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: middleware
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:3000/api/v1/health-check" ]
      interval: 10s
      start_period: 30s
      retries: 10
      timeout: 5s
    environment:
        - PORT=3000
    ports:
      - "3000:3000"
    networks:
      - local-network

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./scripts/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - middleware
    networks:
      - local-network

networks:
  local-network:
    driver: bridge
